In [1]:
import math 
import string 
import re

import json 

import pandas as pd 
import sqlite3

In [2]:
filepath = '/home/ramprasad.sa/factual_annotation_llm_summaries/generated_summaries/xsum_summaries_gpt-3.5-turbo-0301.csv'

In [3]:
df = pd.read_csv(filepath)
df

,Unnamed: 0,Unnamed: 0.1,article,dataset,Faithful Summary,Generic Summary,summ_id
0,0,0,"With three defeats in his previous six bouts, ...",xsum,Scottish boxer Ricky Burns has become the firs...,Scottish boxer Ricky Burns has won his third w...,bcb74d62d4ea11edaf5f1b63c3919b11
1,1,1,The 25-year-old man reportedly calls himself H...,xsum,A man believed to be in his mid-20s has been s...,A 25-year-old man named Harald Hitler has been...,bcb74f88d4ea11edaf5f1b63c3919b11
2,2,2,Kamal C Chavara was detained by the police in ...,xsum,Indian writer-activist Kamal C Chavara has bee...,An Indian writer-activist has been detained an...,bcb75046d4ea11edaf5f1b63c3919b11
3,3,3,"Mr Roache, who is secretary of the union's Yor...",xsum,Tim Roache has been elected as the new general...,Tim Roache has been elected as the new general...,bcb750d2d4ea11edaf5f1b63c3919b11
4,4,4,"The group, reported to be three men, two women...",xsum,"A British family, including four children aged...","A group of nine Britons, including four childr...",bcb751f4d4ea11edaf5f1b63c3919b11
...,...,...,...,...,...,...,...
95,95,95,Inspectors criticised teaching and leadership ...,xsum,Four schools run by the Telford Co-operative M...,The Telford Co-operative Multi-Academy Trust h...,bcb77c56d4ea11edaf5f1b63c3919b11
96,96,96,"Speaking to the Atlantic magazine, he said the...",xsum,US President Barack Obama has criticised Prime...,US President Barack Obama has criticised Briti...,bcb77cc4d4ea11edaf5f1b63c3919b11
97,97,97,The Labour authority voted in favour of changi...,xsum,Durham County Council has voted to cut the pay...,"Durham County Council has voted to reduce 2,70...",bcb77d32d4ea11edaf5f1b63c3919b11
98,98,98,She was hurt when the MR-01 race car she was d...,xsum,"Maria de Villota, a 32-year-old female racing ...","Maria de Villota, a Formula 1 test driver for ...",bcb77da0d4ea11edaf5f1b63c3919b11
99,99,99,BHS entered administration in April. Since the...,xsum,Retail veterans are in a race to save BHS from...,"Greg Tufnell, retail veteran and managing dire...",bcb77fb2d4ea11edaf5f1b63c3919b11

In [4]:
import uuid
  
uuid.uuid1().hex

'6e8c2d70d4ee11ed9648b7178ea1f8cf'

In [5]:
# unique_ids = [uuid.uuid1().hex for i in range(0, len(df))]
# df['summ_id'] = unique_ids
# df.to_csv(filepath)

In [6]:
db_path = "../data/summaries_test.db"  
def connect_to_db():
    conn = sqlite3.connect(db_path)
    c = conn.cursor()
    return conn, c 
conn, c = connect_to_db()

In [7]:
for idx, row in df.iterrows():
    summ_uuid = row['summ_id']
    summ_id = 'xsum_generic'
    system_id = 'gpt3.5_turbo'
    article = row['article']
    generic_summary = row['Generic Summary']
    faithful_summary = row['Faithful Summary']
    c.execute("""INSERT INTO generated_summaries (summary_uuid, summ_id, system_id, summary, article) VALUES (?, ?, ?, ?, ?)""",
                                                        (summ_uuid, 
                                                        summ_id,
                                                        system_id,
                                                        generic_summary,
                                                        article))
    print('Added %d generated summaries'%(idx))
    conn.commit()
    conn.close()

Added 0 generated summaries

ProgrammingError: Cannot operate on a closed database.